body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --base-color: #813076;
  --sub-color:  #4b0361;
  --accent-color: #165e8d;
  --line-color: #F5EA5A;
  --font-color: white;
  font-size: 25px;
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
  background: var(--base-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
